h2 {
	border-bottom: 1px solid #acb1b5;
}

blockquote {
	border-left: .25rem solid #cbced1;
}

.quarto-title-banner {
	background: #318CCC;
	background-size: auto 100% !important;
	background-position: center;
	background-repeat: no-repeat;
}



