.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders
/data/
/output/

*.html
*.pdf
*.png
*.svg
*.jpg
*.ppt
*.docx
*.xlsx
*.pptx

# Exception for HTML report
!/scripts/report/report-web.html
!/scripts/report/report-pdf.pdf

