.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders
/data/
/output/

# File types
*.html
*.pdf
*.png
*.svg
*.jpg
*.ppt
*.docx
*.xlsx
*.pptx

# Exceptions
!/docs/*.html
!/docs/*.png
!/docs/*.svg
!/scripts/report/img/*.png
!/scripts/report/img/*.svg
